<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      K.Q. Norton Dart Bank Interest Calculation Bank System - Create A New Money Market Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
    <ion-card-header>
      Create A New Money Market Account
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="submitAttempt">Please fill out all details accurately </p>
      <form [formGroup]="moneyMarketAccountForm">
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            <ion-item>
              <ion-label floating>First Name</ion-label>
              <ion-input formControlName="firstName" type="text" [class.invalid]="!moneyMarketAccountForm.controls.firstName.valid && (moneyMarketAccountForm.controls.firstName.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item *ngIf="!moneyMarketAccountForm.controls.firstName.valid && (moneyMarketAccountForm.controls.dirty || submitAttempt)">
              <p> Please enter a valid first name </p>
            </ion-item>
          </ion-col>
          <ion-col width-50>
            <ion-item>
              <ion-label floating>Last Name</ion-label>
              <ion-input formControlName="lastName"type="text" [class.invalid]="!moneyMarketAccountForm.controls.lastName.valid && (moneyMarketAccountForm.controls.lastName.dirty || submitAttempt)"></ion-input>
            </ion-item>
          <ion-item *ngIf="!moneyMarketAccountForm.controls.lastName.valid && (moneyMarketAccountForm.controls.dirty || submitAttempt)">
            <p>Please enter a valid last name</p>
          </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33>
            <ion-item>
              <ion-label floating>Account Type</ion-label>
              <ion-input readonly="true" disabled="true" value="Money Market"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col width-33>
            <ion-item>
              <ion-label floating>Enter the starting balance</ion-label>
              <ion-input formControlName="startingBalance" type="number" [class.invalid]="!moneyMarketAccountForm.controls.startingBalance.valid && (moneyMarketAccountForm.controls.startingBalance.dirty || submitAttempt)"></ion-input>
            </ion-item>
          <ion-item *ngIf="!moneyMarketAccountForm.controls.startingBalance.valid && (moneyMarketAccountForm.controls.dirty || submitAttempt)">
            <p>Please enter a valid starting balance</p>
          </ion-item>
          </ion-col>
          <ion-col width-33>
           <ion-item>
              <ion-label floating>Interest Rate</ion-label>
              <ion-input type="number" formControlName="interestRate" [class.invalid]="!moneyMarketAccountForm.controls.interestRate.valid && (moneyMarketAccountForm.controls.interestRate.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item *ngIf="!moneyMarketAccountForm.controls.interestRate.valid && (moneyMarketAccountForm.controls.dirty || submitAttempt)">
              <p>Please enter a valid interest rate</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50>
            <ion-item>
              <ion-label floating>Overdraft Penalty</ion-label>
              <ion-input readonly="true" disabled="true" value="30"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col width-50>
            <ion-item>
              <ion-label floating>Required Minimum Balance</ion-label>
              <ion-input type="number" disabled="true" value="10000"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      </form>
      <button ion-button icon-right (click)="addTransaction()">
        Add Recurring Transaction
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <ion-list>
        <ion-list-header>
          Recurring Transactions
        </ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col width-50>
              Amount
            </ion-col>
            <ion-col width-50>
              Frequency
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-50>
              <ion-item *ngFor="let transaction of recurringTransactions">
                {{transaction.Amount}} Dollars
              </ion-item>
            </ion-col>
            <ion-col width-50>
              <ion-item *ngFor="let transaction of recurringTransactions">
                Every {{transaction.Frequency}} days
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <button ion-button (click)="submitClicked()">Submit</button>
    </ion-card-content>
  </ion-card>  
</ion-content>