ion-card{
    text-align: center;
}

ion-header{
    color: color($colors, primary);
    text-align: center;
}

.card{
    border: 3px solid black;
    background-color: color($colors, danger);
    button{
        color: color($colors, secondary);
    }
}

.invalid{
    border: 1px solid #ea6153;
}