<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      K.Q. Norton Dart Bank Interest Calculation Bank System - Create A New Savings Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Create A New Savings Account
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            <ion-item>
              <ion-label floating>First Name</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col width-50>
            <ion-item>
              <ion-label floating>Last Name</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33>
            <ion-item>
              <ion-label floating>Account Type</ion-label>
              <ion-input readonly="true" disabled="true" value="Checking"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col width-33>
            <ion-item>
              <ion-label floating>Enter the starting balance</ion-label>
              <ion-input type="number"min="100"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col width-33>
            <ion-item>
              <ion-label floating>Interest Rate</ion-label>
              <ion-input type="number"min="0.75" max="1.50" value="1"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50>
            <ion-item>
              <ion-label floating>Overdraft Penalty</ion-label>
              <ion-input readonly="true" disabled="true" value="30"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col width-50>
            <ion-item>
              <ion-label floating>Required Minimum Balance</ion-label>
              <ion-input type="number" min="25" max="300" value="100"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <button ion-button icon-right (click)="addTransaction()">
        Adding Recuring Transaction
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <ion-list>
        <ion-list-header>
          Recurring Transactions
        </ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col width-25>
              Amount
            </ion-col>
            <ion-col wdith-25>
              Date
            </ion-col>
            <ion-col witth-50>
              Description
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-25>
              <ion-item *ngFor="let transaction of recurringTransactions">
                {{transaction.Amount}}
              </ion-item>
            </ion-col>
            <ion-col width-25>    
              <ion-item *ngFor="let transaction of recurringTransactions">
                {{transaction.Date}} 
              </ion-item>
            </ion-col>
            <ion-col width-50>
            <ion-item *ngFor="let transaction of recurringTransactions">
              {{transaction.Description}}
            </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <button ion-button (click)="showConfirm()">Submit</button>      
    </ion-card-content>
  </ion-card>  
</ion-content>